<h1><%=pluralize(@movies.size, "Movie")%></h1>

<ul>
	<% @movies.each do |movie| %>
		<p>
			<h2>
    		<strong><%= link_to(movie.title, movie) %></strong>
   	 		</h2>
  		</p>
  		<p>
			<%= truncate(movie.description, length: 40, separator: ' ') %>
  		</p>
  		<p>
  			<strong>Rating:</strong> (<%= movie.rating %>)
  		</p>
  		<p>
  			<strong>Released:</strong> <%= movie.released_on %>
  		</p>
  		<p>
  			<strong>Total Gross:</strong> <%= format_total_gross(movie) %>
  		</p>
		<% end %>
</ul>